<!DOCTYPE html>
<html>
<head>
	<title>Slider html</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="Made with WOW Slider - Create beautiful, responsive image sliders in a few clicks. Awesome skins and animations. Slider html" />
	
	<!-- Start WOWSlider.com HEAD section --> <!-- add to the <head> of your page -->
	<link rel="stylesheet" type="text/css" href="engine1/style.css" />
	<script type="text/javascript" src="engine1/jquery.js"></script>
	<!-- End WOWSlider.com HEAD section -->

</head>
<body style="background-color:#d7d7d7;margin:0">
	
	<!-- Start WOWSlider.com BODY section --> <!-- add to the <body> of your page -->
	<div id="wowslider-container1">
	<div class="ws_images"><ul>
		<li><img src="data1/images/exploitation.jpg" alt="exploitation" title="exploitation" id="wows1_0"/></li>
		<li><img src="data1/images/traversee3.jpg" alt="traversee-3" title="traversee-3" id="wows1_1"/></li>
		<li><img src="data1/images/plageocre.jpg" alt="plage-ocre" title="plage-ocre" id="wows1_2"/></li>
		<li><img src="data1/images/plagebaobab.jpg" alt="plage-baobab" title="plage-baobab" id="wows1_3"/></li>
		<li><img src="data1/images/kanibepointdevue.jpg" alt="kanibe-point-de-vue" title="kanibe-point-de-vue" id="wows1_4"/></li>
		<li><img src="data1/images/ilot2.jpg" alt="ilot-2" title="ilot-2" id="wows1_5"/></li>
		<li><img src="data1/images/salouva.jpg" alt="salouva" title="salouva" id="wows1_6"/></li>
		<li><img src="data1/images/ngouja.jpg" alt="ngouja" title="ngouja" id="wows1_7"/></li>
		<li><img src="data1/images/pdvngouja.jpg" alt="pdvngouja" title="pdvngouja" id="wows1_8"/></li>
		<li><img src="data1/images/maki.jpg" alt="maki" title="maki" id="wows1_9"/></li>
		<li><img src="data1/images/sazile3.jpg" alt="sazile-3" title="sazile-3" id="wows1_10"/></li>
		<li><img src="data1/images/sazile2.jpg" alt="sazile-2" title="sazile-2" id="wows1_11"/></li>
		<li><img src="data1/images/oranges.jpg" alt="oranges" title="oranges" id="wows1_12"/></li>
		<li><img src="data1/images/boeuf.jpg" alt="boeuf" title="boeuf" id="wows1_13"/></li>
		<li><img src="data1/images/plagejumelle2.jpg" alt="plage-jumelle-2" title="plage-jumelle-2" id="wows1_14"/></li>
		<li><img src="data1/images/plagejumelle.jpg" alt="plage-jumelle" title="plage-jumelle" id="wows1_15"/></li>
		<li><img src="data1/images/plagengouja.jpg" alt="plage-ngouja" title="plage-ngouja" id="wows1_16"/></li>
		<li><img src="data1/images/barge.jpg" alt="barge" title="barge" id="wows1_17"/></li>
		<li><img src="data1/images/passeens2.jpg" alt="passe-en-s-2" title="passe-en-s-2" id="wows1_18"/></li>
		<li><img src="data1/images/passeens.jpg" alt="passe-en-s" title="passe-en-s" id="wows1_19"/></li>
		<li><img src="data1/images/plageprefet.jpg" alt="plage-prefet" title="plage-prefet" id="wows1_20"/></li>
		<li><img src="data1/images/plage_ocre.jpg" alt="plage ocre" title="plage ocre" id="wows1_21"/></li>
		<li><img src="data1/images/kbfdm.jpg" alt="kbfdm" title="kbfdm" id="wows1_22"/></li>
		<li><img src="data1/images/ilot.jpg" alt="ilot" title="ilot" id="wows1_23"/></li>
		<li><a href="http://wowslider.net"><img src="data1/images/sazile.jpg" alt="html slider" title="sazile" id="wows1_24"/></a></li>
		<li><img src="data1/images/traversee2.jpg" alt="traversee-2" title="traversee-2" id="wows1_25"/></li>
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title="exploitation"><span><img src="data1/tooltips/exploitation.jpg" alt="exploitation"/>1</span></a>
		<a href="#" title="traversee-3"><span><img src="data1/tooltips/traversee3.jpg" alt="traversee-3"/>2</span></a>
		<a href="#" title="plage-ocre"><span><img src="data1/tooltips/plageocre.jpg" alt="plage-ocre"/>3</span></a>
		<a href="#" title="plage-baobab"><span><img src="data1/tooltips/plagebaobab.jpg" alt="plage-baobab"/>4</span></a>
		<a href="#" title="kanibe-point-de-vue"><span><img src="data1/tooltips/kanibepointdevue.jpg" alt="kanibe-point-de-vue"/>5</span></a>
		<a href="#" title="ilot-2"><span><img src="data1/tooltips/ilot2.jpg" alt="ilot-2"/>6</span></a>
		<a href="#" title="salouva"><span><img src="data1/tooltips/salouva.jpg" alt="salouva"/>7</span></a>
		<a href="#" title="ngouja"><span><img src="data1/tooltips/ngouja.jpg" alt="ngouja"/>8</span></a>
		<a href="#" title="pdvngouja"><span><img src="data1/tooltips/pdvngouja.jpg" alt="pdvngouja"/>9</span></a>
		<a href="#" title="maki"><span><img src="data1/tooltips/maki.jpg" alt="maki"/>10</span></a>
		<a href="#" title="sazile-3"><span><img src="data1/tooltips/sazile3.jpg" alt="sazile-3"/>11</span></a>
		<a href="#" title="sazile-2"><span><img src="data1/tooltips/sazile2.jpg" alt="sazile-2"/>12</span></a>
		<a href="#" title="oranges"><span><img src="data1/tooltips/oranges.jpg" alt="oranges"/>13</span></a>
		<a href="#" title="boeuf"><span><img src="data1/tooltips/boeuf.jpg" alt="boeuf"/>14</span></a>
		<a href="#" title="plage-jumelle-2"><span><img src="data1/tooltips/plagejumelle2.jpg" alt="plage-jumelle-2"/>15</span></a>
		<a href="#" title="plage-jumelle"><span><img src="data1/tooltips/plagejumelle.jpg" alt="plage-jumelle"/>16</span></a>
		<a href="#" title="plage-ngouja"><span><img src="data1/tooltips/plagengouja.jpg" alt="plage-ngouja"/>17</span></a>
		<a href="#" title="barge"><span><img src="data1/tooltips/barge.jpg" alt="barge"/>18</span></a>
		<a href="#" title="passe-en-s-2"><span><img src="data1/tooltips/passeens2.jpg" alt="passe-en-s-2"/>19</span></a>
		<a href="#" title="passe-en-s"><span><img src="data1/tooltips/passeens.jpg" alt="passe-en-s"/>20</span></a>
		<a href="#" title="plage-prefet"><span><img src="data1/tooltips/plageprefet.jpg" alt="plage-prefet"/>21</span></a>
		<a href="#" title="plage ocre"><span><img src="data1/tooltips/plage_ocre.jpg" alt="plage ocre"/>22</span></a>
		<a href="#" title="kbfdm"><span><img src="data1/tooltips/kbfdm.jpg" alt="kbfdm"/>23</span></a>
		<a href="#" title="ilot"><span><img src="data1/tooltips/ilot.jpg" alt="ilot"/>24</span></a>
		<a href="#" title="sazile"><span><img src="data1/tooltips/sazile.jpg" alt="sazile"/>25</span></a>
		<a href="#" title="traversee-2"><span><img src="data1/tooltips/traversee2.jpg" alt="traversee-2"/>26</span></a>
	</div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">slider html</a> by WOWSlider.com v8.8m</div>
	<div class="ws_shadow"></div>
	</div>	
	<script type="text/javascript" src="engine1/wowslider.js"></script>
	<script type="text/javascript" src="engine1/script.js"></script>
	<!-- End WOWSlider.com BODY section -->

</body>
</html>