@import url(http://fonts.googleapis.com/css?family=Amaranth);
*{
	font-family: 'Amaranth', sans-serif;
}

a{
	transition: 2s;
}
}
.full-height {
height: 100vh;
}


.flex-center {
align-items: center;
display: flex;
justify-content: center;
}

.position-ref {
position: relative;
}

.MainTitle{
	color: #09a0ff;
	text-shadow: 1px 1px #f00;
	font-weight: normal;
	font-family: Amaranth;
	text-align: center;
}
.top-right {
position: absolute;
right: 10px;
top: 18px;
}

.content {
text-align: center;
}

.title {
font-size: 84px;
}

.links > a {
color: #fff;
padding: 0 25px;
font-size: 13px;
letter-spacing: .1rem;
text-decoration: none;
height: 30px;
padding: 7px;
border-radius: 5px;
}


.m-b-md {
margin-bottom: 30px;
}


.wide{
width: 100%;
box-sizing: border-box;
overflow: auto;
background-color: #fff;
}

.wide img{
width: 100%;
height: auto;
}





.scrollmenu li{
list-style: none;

display: inline-block;

}

.scrollmenu {
width: 100%;
bottom: 0px;
left: 0;
display: inline-block;
background-color: #000;
overflow: auto;
white-space: nowrap;
height: 50px;
padding: 10px;
margin: 0;
box-sizing:border-box;
transition: .4s;

}

.scrollmenu:hover{

height: 120px;
transition: .4s;
}


div.scrollmenu a {
display: inline-block;
color: white;
text-align: center;
text-decoration: none;
height: 100px;
width: 170px;
overflow: hidden;
border: 5px solid white;
box-sizing: border-box;
}




div.scrollmenu a:hover {
background-color: orange;
border-radius: 5px;
transition: .4s;
}




div.scrollmenu a img{
width: 100%;
height: auto;
}
body {
background-color: #fff;
color: #636b6f;
font-weight: 200;
height: 100vh;
margin: 0;
padding-top: 60px;
}

.full-height {
height: 100vh;
}

.flex-center {
align-items: center;
display: flex;
justify-content: center;
}

.position-ref {
position: relative;
}

.top-right {
position: absolute;
right: 10px;
top: 18px;
}

.content {
text-align: center;
}

.title {
font-size: 84px;
}

.links > a {
color: #fff;
padding: 0 25px;
font-size: 13px;
letter-spacing: .1rem;
text-decoration: none;
height: 30px;
padding: 7px;
border-radius: 5px;
}

.links > a:hover{
color: black;
}

.m-b-md {
margin-bottom: 30px;
}

.pageHeader{
position: fixed;
top: 10px; 
z-index: 9999999; 
left:30%; 
width: 50%; 
text-align: center;

}

.menu-button {
margin: 0;
height: 40px;
line-height: 25px;
width: 115px;
position: fixed;
right: 20px;
bottom: 10px;
padding-top:5px ;
z-index: 99999;
cursor: pointer;
-webkit-transition: .3s;
transition: .3s;
text-align: center;
color: #ff0;
border: 2px solid #ff0;
cursor: pointer;
box-sizing: border-box;
border-radius: 5px;
background: rgb(0,0,0);}
.menu-button p{
	margin: 0;
}
.menu-button:hover{
	width: 125px;
	right: 20px;
	background: #000;
}

.menu-button:hover p{
	margin: 0;

}

.menu-button .bar:nth-of-type(1) {
margin-top: -30px;
background-color: #;
}
.menu-button .bar:nth-of-type(3) {
margin-bottom: 0px;
background-color: #;
}
.bar {
position: relative;
display: block;
width: 50px;
height: 5px;
margin: 10px auto;
background-color: #;
border-radius: 10px;
-webkit-transition: .3s;
transition: .3s;
}
.cross .bar:nth-of-type(1) {
-webkit-transform: translateY(15px) rotate(-45deg);
-ms-transform: translateY(15px) rotate(-45deg);
transform: translateY(15px) rotate(-45deg);
background-color: #fb4903;
}
.cross .bar:nth-of-type(2) {
opacity: 0;
}
.cross .bar:nth-of-type(3) {
-webkit-transform: translateY(-15px) rotate(45deg);
-ms-transform: translateY(-15px) rotate(45deg);
transform: translateY(-15px) rotate(45deg);
background-color: #fb4903;
}


.test{
height: 100%;width: 100%;
}
h2{
margin:0;
padding: 0;
width: 100%;
height: 90px;
padding-top: 30px;
background-repeat: no-repeat;
text-align:center;
color:#fff;
font-size:2.2em;
text-shadow:1px 1px #000;
}
#titre {
color: #fff;
text-shadow: 1px 2px 1px #000;
font-size: 3em;
text-align: center;
margin-top: -60px;
margin-bottom: 20px;
}

#paragraphe p{
padding:10px;
background-color:rgba(255,255,255,0.2);
text-align:justify;
font-size:2.2em;
line-height: 45px;
border-radius:10px;
text-align: justify;
}

#mainImageCulture{
width: 100%;
height: 520px;
display: block;
margin: auto;
border-top: 10px solid white;
border-bottom: 10px solid white;
}

#mainImageCulture video{
width:100%;
height:100%;
border-radius: 10px;
box-sizing: border-box;
}

#mainImageCulture img{
width: 100%;
height: 520px;
border-radius: 10px;
box-sizing: border-box;
}


.sider-container{
left: 0;
padding: 0;
height: 13vh;
border-top: 5px solid white;
}

.sider-container {
width: 100%;
padding-top: 0px;
}

.sider-container a{
text-decoration: none;
color: #000;

}
.sider-slide {
background-position: center;
background-size: cover;
width: 50%;
height: auto;
border: 5px solid orange;
border-radius: 10px;
position: relative;
margin: 5px;
color: #000;
}



.sider-container{
left: 0;
padding: 0;
height: 3vh;
border-top: 5px solid white;;

}
.sider-container {
width: 100%;
padding-top: 0px;
}

.sider-container a{
text-decoration: none;
color: #000;

}

.sider-slide p{
width: 100%;
position:absolute;
bottom: -20px;
text-align: center;
background-color: #fff;
line-height: 30px;
border-right: 5px solid white;
border-left: 5px solid white;
left: -5px;
}



#texte img{
width: 60%;
border: 10px solid #02def8;
}
#texte img:hover{
width:80%;
z-index: 2;
}

#texte a{
text-decoration: none;
color: #ff9600;
}
#texte video {
width: 500px;
height: auto;
max-width: 100%;
}

.video{
color: #06c7f0;

}



.sideNav {
width: 100%;
height: 100%;
}
.sideNav-slide {
padding-top: 0px;
}
.menu {
min-width: 100px;
width: 90%;
border-right: 5px solid #fff;
color: #fff;
}
.content {
width: 100%;

}


#fixedScroll{

background-image: url('images/backgroundLiens.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
left: 0;
position: fixed;
bottom: 0;
height: 12vh;
width: 90%;
border-top: 5px solid white;
box-sizing: border-box;
}

#sideScroll{
position: absolute;
bottom: -5vh;
width:100%;
top: 0;
box-sizing: border-box;

}
#sideScroll img{

}
#sideScroll ul{
list-style: none;
padding:0;
position: absolute;
bottom: 50px;
width: 100%;
}
#sideScroll ul li{
width: 14.8%;
height: 10vh;
display: inline-block;
margin: 0;
}

}








marquee img{
width: auto;
height: 160px;
border-radius: 10px;
border: 4px solid #fff;
transition: 0.4s;
}

#scrollDashes{
margin-top: 140px;
position: fixed;
bottom: 0;
left: 0;
height: 150px;
}

#menuMarquee{
padding-top: 10px;
}

#atable{
color: #fff;
line-height: 50px;
font-size: 0.9em;

}
#acco{
font-size: 1.2em;
border-bottom: 2px solid #fff;
color: #000;
position: fixed;
left: 0;
bottom: 125px;
text-align: center;
width: 100%;
font-family: 'Amaranth', sans-serif;
background-color: rgba(255,255,255,0.7);
height: 40px;
line-height: 40px;
}


.viandes{
z-index: 99;
width: 100%;
box-sizing: border-box;
margin-top: 60px;
}
.plats{
position: relative;
width: 45%;
margin-left: 3.5%;
height: 400px;
border: 5px solid #fff;
box-sizing: border-box;
margin-bottom: 40px;
border-radius: 20px;
}


.plats img{
border-radius: 20px 20px 0 0;
border-bottom: 5px solid #000;
}


#choix{
color: #808080;
text-shadow: 1px 1px #011f3a;
padding: 0;
margin: 0;
margin-top: 210px;
margin-bottom: 20px;
}

.nomDuPlat{
color: #fff;
font-weight: bold;
line-height: 35px;
font-family: 'Amaranth', sans-serif;
float: left;
font-size: 1.4em;
margin-left: 20px;
}
.prix{
color: #ff8a2c;
font-weight: bold;
line-height: 35px;
margin-right: 20px;
font-family: 'Amaranth', sans-serif;
font-size: 1.4em;
float: right;
}

.plats img{
width: 100%;
height: 350px;
overflow: hidden;
}



header, a, img, li{
transition: all 1s;
-moz-transition: all 1s; /* Firefox 4 */
-webkit-transition: all 1s; /* Safari and Chrome */
-o-transition: all 1s; /* Opera */
}

/* Basic layout */


ul{
list-style-type: none;
float: right;
}

li{
display: inline;
float: left;
margin-bottom: 20px;
}

img.logo{
float: left;
}


nav{
width: 100%;
margin: 0 auto;
}

section.stretch p{
font-family: 'Amaranth', sans-serif;
font-size: 30px;
color: #969696;
text-align: center;
position: relative;
margin-top: 120px;
}

section.stretch p.bottom{
padding-top: 100px;
}


header{
z-index: -999;
background-color: rgba(255,255,255,0.7);
border-bottom: 5px solid #6f6f6f;
float: left;
width: 100%;
position: fixed;
top: 70px;
z-index: 10;
left: 0;
}

header a{
color: #c3c0be;
text-decoration: none;
font-family: 'Amaranth', sans-serif;
text-transform: uppercase;
}

header a.active, header a:hover{
color: #292929;
font-weight: bold;
border-bottom: 2px solid red;
}

header li{
margin-right: 30px;
}

/* Sizes for the bigger menu */
header.large{
height: 180px;
}

header.large img{

height: 170px;
}

header.large li{
padding: 10px;
box-sizing: border-box;

}


/* Sizes for the smaller menu */
header.small{ 
height: 50px; 
overflow: hidden;
border-bottom: 5px solid #fff;
}


header.small:hover{ 
height: 160px; 
overflow: hidden;
}

header.small img{ 

height: 60px; 
margin-top: -5px; 
}
header.small:hover img{ 

height: 160px; 
margin-top: -5px; 
}

header.small li{ 
padding: 5px; 

}


header {
position: fixed;
z-index: 99999;
width: 100%; }

.text-secondary {
color: #02e2f6;
text-shadow: 1px 1px #000; }

main {
padding: 4rem;
min-height: calc(100vh - 60px); }
main .icons {
margin-top: 1rem; }
main .icons a {
padding: 0.4rem; }
main .icons a:hover {
color: #eece1a;
transition: all 0.5s ease-out; }
main#home {
overflow: hidden; }
main#home h1 {
}


h1{
	margin-top: 50px;
}